.content {
  padding: 0 40px;
}

.slideshow__container {
  margin: 40px 0 0 0;
  /* padding: 0 40px; */
  position: relative;
  z-index: 9;
}

div .slideshow__container.slide_2 {
  margin: 20px 0;
}

.slideshow__slide {
  width: 100%;
  height: 980px;
  position: relative;
  padding: 40px;
  display: flex;
}

.slideshow__slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slideshow__slide-content {
  align-self: flex-end;
  color: var(--white-color);
}

.slideshow__title-first {
  font-size: 12rem;
  font-weight: 300;
  color: inherit;
}

.slideshow__title-second {
  font-size: 36rem;
  font-family: var(--font-heading);
  font-weight: 300;
  margin-top: 12px;
  color: inherit;
}

.slideshow__title-detail {
  font-size: 16rem;
  color: var(--white-color);
  font-weight: lighter;
}

.slideshow__slide-content > .slideshow__link {
  margin-top: 32px;
}

.slideshow__slide-content > .slideshow__link > a {
  /* --width: 187px; */
  padding: 0 35px;
  --height: 48px;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  background: var(--white-color);
  border-radius: calc(var(--height) / 2);
  font-size: 14rem;
  text-align: center;
  line-height: var(--height);
}

.slideshow__slide-content > .slideshow__link.slide_2 > a {
  background: var(--black-color);
  color: var(--white-color);
}

.product__section {
  margin: 50px 0;
}

.home__title-large {
  font-size: 24rem;
  font-family: var(--font-heading) !important;
  font-weight: 400;
}

.product__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin: 30px 0;
}

.product__container {
  flex: 1;
  cursor: pointer;
}

.product__wrapper > div:nth-of-type(2) {
  margin: 0 20px;
}

.product__img-view {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 20px;
}

.product__img-view > img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.product__img_primary:hover {
  opacity: 0;
}

.product__container > span {
  display: block;
  font-size: 14rem;
}

.product__container > span:nth-of-type(1) {
  margin-bottom: 5px;
}

.product__category-section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.product__category-item {
  flex: 1;
  aspect-ratio: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.product__category-item:nth-of-type(1) {
  margin-right: 20px;
}

.product__category-item > img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.product__collection-view {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 20px;
  overflow: hidden;
}

.product__collection-view > img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.product__collection-view img {
  transition: transform 0.25s, visibility 0.25s ease-in-out;
}

.product__collection-view:hover img {
  transform: scale(1.1);
}

span.product__collection-text {
  font-family: var(--font-heading);
  font-size: 18rem;
}